*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: white;
    padding: 10px;
}
h2{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
h2 span{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 10px;
    z-index: 10;
}
.container > div{
    cursor: pointer;
    height: 150px;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in-out;
}
.container > div:hover{
    opacity: 0.7;
    transform: scale(0.98);
    z-index: 20;
}
/* .container > div:nth-of-type(1){
    grid-column: 1/3;
}
.container > div:nth-of-type(6){
    grid-column: 3/5;
}
.container > div:nth-of-type(9){
    grid-column: 3/5;
}
.container > div:nth-of-type(10){
    grid-column: 1/3;
} */
.bg1{
    background: url('../img/bg1.jpg') no-repeat;
}
.bg2{
    background: url('../img/bg2.jpg') no-repeat;
    color: black;
}
/* .col{
    font-size: 50px;
    background-image: linear-gradient(to right,rgba(18, 224, 18, 0.705), rgba(7, 78, 7, 0.705)), url('../img/bg2.jpg');
    background-size: cover;
    background-position: top;
} */
@media(min-width:1440px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }
}